.contact-container {
  width: 70vw;
  margin-bottom: 3%;
  padding: 20px 35px 35px 35px;
  background-color: rgba(255, 255, 255, 0.548);
  color: white;
}

.email-phone-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.email-phone-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-linkedin-wrap {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 420px) {
  .contact-container {
    margin-top: 50px;
  }
}