.lazy {
  visibility: hidden;
}

.body {
  background-color: rgb(17, 64, 94);
  padding: 20px;
  color: #BFC0C0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
:root {
	--animation-delay: 200ms;
	--duration: 800ms;
	--iterations: 1;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay);
	animation-iteration-count: var(--iterations);
	animation-duration: var(--duration);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	font-size: 10vw;
	display: block;
	user-select: none;
	animation-name: reveal-text;
	color: #FFF;
	white-space: nowrap;
  cursor: default;
  margin-bottom: 4vh;
}
	
.reveal-text:after {
	content: "";
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F26419;
	transform: scaleX(0);
	transform-origin: 0 50%;
	pointer-events: none;
	animation-name: revealer-text;
}

@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes revealer-text {
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.aboutme-wrap {
  display: flex;
  justify-content: center;
}

.aboutme {
  width: 50vw;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.425);
  margin-bottom: 3%;
  color: white;
}

.welcome {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 20px 10px 20px 10px;
  width: 79vw;
}

.welcome-div {
  height: 133px;
  width: 24vw;
  background-color: rgba(255, 255, 255, 0.548);
  color: white;
  margin: 0px 2px 8px 2px;
  padding: 5px 9px 5px 11px;
} 

@media only screen and (max-width: 1100px) {
  .welcome {
    width: 80vw;
  }
  
  .welcome-div {
    width: 23vw;
    justify-content: center;
    margin: 0px 2px 10px 0px;
  }
}

@media only screen and (max-width: 641px) {
  .reveal-text {
    font-size: 12vw;
  }
  
  .welcome {
    width: 89vw;
  }

  .welcome-div {
    width: 39vw;
    margin: 0px 0px 8px 0px;
    justify-content: center;
  }
}

@media only screen and (max-width: 479px) {
  .reveal-text {
    font-size: 14vw;
  }

  .welcome {
    width: 89vw;
  }

  .welcome-div {
    width: 80vw;
  }
}

.footer {
  background-color: rgb(75, 131, 172);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #86BBD8;
}

@media only screen and (max-width: 420px) {
  .reveal-text {
    margin-top: 65px;
    font-size: 14vw;
  }
}
